/* Selectors */
* {
    color: black;
  }
  
  h4,
  h6 {
    color: black;
  }
  
  .heading {
    color: aqua;
    font-size: 60px;
  }
  
  #id{
      color: pink;
      font-size: 80px;
  }
/* colors */
  .rgb{
    color: rgb(0, 98,0);
  }

  .rgba{
    color: rgba(34, 96, 255, 0.9);
  }

  .hexa{
    color: #937458;
  }

  .hsl{
    color: hsl(90, 80%, 50%);
  }